*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: #E53170;
    text-align: center;
    margin: 2rem auto 2rem;
    font-weight: bolder;
}