*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

/* HEADER */
h1{
    color: #E53170;
    text-align: center;
    margin: 2rem auto 2rem;
    font-weight:bold;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}



/* MAIN */
.container{
    width: 60%;
    margin: 20px auto;
    max-width: 1000px;

}

.lorem{
    text-align: center;
    margin-bottom: 0 auto 2rem;

}

.row{
    margin:30px auto 30px;
}

.col{
    height: 80px; 
    padding-right: 20px;
    display: inline-block;
    width: calc(100%/3);
    min-width: 165px;

}

img{
    height: 100%;
    vertical-align: middle;  
}

.float{
    float: left;
}


.member{

    background-color: #0F0E17;
    width: 100%;
    display: inline-block;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.info{
    padding-left: 90px;


}

.name{
    color: white;
    font-size: 0.9rem;
    line-height: calc(80px/3); 
    padding-left: ;
    font-weight:bold;

}


.job{
    color: white;
    font-size: 0.7rem;
    line-height: calc(80px/3);  
    font-weight:bold;


    
}

.email{
    color: #4DCCF2;
    font-size: 0.7rem;
    line-height: calc(80px/3);  
    font-weight:bold;



}